.gridParent {
    display: grid;
    grid-template-columns: 65% 30%;
    grid-template-rows: 1fr;
    grid-column-gap: 5%;
    grid-row-gap: 0px;
}

/* --- Encounter Slots --- */

.encounterSlot {
    padding: 0 12px;
    margin-bottom: 4px;
    border-bottom: 1px solid #eeeeee;

    display: grid;
    grid-template-columns: 48px 68px auto 56px 56px;
    grid-template-rows: auto;
    grid-column-gap: 8px;
    grid-row-gap: 0px;

    min-height: 56px;
}

.encounterSlot > img {
    position: relative;
    bottom: 12px;
    min-height: 56px;
    outline: none
}

.encounterSlot #species {
    padding-left: 12px;
    overflow-wrap: normal;
}

.encounterSlot p {
    margin: auto 0;
}

@media only screen and (max-width: 1080px) {
    .gridParent {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .gridCell:nth-child(1) {
        order: 2;
    }
    
    .gridCell:nth-child(2) {
        order: 1;
    }

    .rightCell {
        padding-bottom: 20px;
    }

    .encounterSlot {
        grid-template-columns: 48px 68px auto 56px;
        grid-template-rows: auto;
        grid-column-gap: 0px;
        padding: 12px 12px;
    }

    .encounterSlot > img {
        grid-row: span 2;
        left: -12px;
    }

    .encounterSlot p#percent {
        grid-row: span 2;
    }

    .encounterSlot #species {
        padding-left: 0;
    }
        
    .encounterSlot p#minLevel,.encounterSlot p#maxLevel {
        grid-row: 2;
    }
    
    .encounterSlot p#minLevel,.encounterSlot p#maxLevel {
        grid-row: 2;
    }
    
    .encounterSlot p#minLevel {
        grid-column: 3;
    }
    
    .encounterSlot p#maxLevel {
        grid-column: 4;
    }
}


select, input{
    border: 2px solid rgb(202, 202, 202);
    border-radius: 4px;

    padding: 4px;
    margin-right: 12px;
}

.bold {
    font-weight:bold;
    margin-bottom: 10px;
}

#divider {
    margin-top: 32px;
    background-color: #eeeeee;
}

.rightCell > select{
    margin-bottom: 20px;
}

#encounterContainer {
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    padding: 10px;
}

#encBarBG {
    width: 100%;
    background-color: #dfdfdf;
    border-radius: 4px;
}
  
#encBar {
    width: 0%;
    height: 6px;
    background-color: #37d6bc;
    border-radius: 4px;
    transition: width 0.2s;
}

.divButton {
    background-color: #30aa81;
    font-family: 'Lexend';
    outline: none;
    border: 2px solid black;
    box-shadow: 0px 2px 0px 0px black;
    border-radius: 48px;
    cursor: pointer;
    padding: 12px 10px;
    user-select: none;
    -webkit-user-select: none;
    font-weight: 500;
    font-size: 27px;
    color: white;
    text-align: center;
}

.divButton:hover {
    color: black;
    background-color: #9fd37d;
}

.back {
    background-color: #f0385c;
}

.back:hover {
    background-color: #fd7892;
}

.title {
    text-align: center;
}

.title h1 {
    margin-bottom: 0px;
}

p.tiny {
    font-size: 14px;
    font-style: italic;
    margin-top: 0px;
}

#sectSwarm {
    display: none;
}

#sectToD {
    display: none;
}

#sectAbility {
    display: none;
}

#bottom {
    margin-top:12px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 2fr;
    padding: 0px 24px;
}

.levelParent {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.levelParent p {
    margin-top: 0px;
}